<%= form_for @team do |f| %>
	<% if @team.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@team.errors.count, "error") %> prevented
				this team's information from being updated:</h2>
		<ul>
		<% @team.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
	<% end %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :parent_team_id %><br>
		<%= f.select :parent_team_id,
				content_tag(:option,'(none)',:value=>"nil") +
				options_from_collection_for_select(Team.sortedCategories, "id", "scopedName",
				@team.parent_team_id != nil ? @team.parent_team_id : nil ) %>
	</p>

	<p>
		<%= f.label :description %><br>
		<%= f.text_field :description %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>
