<%= form_for  @team_update do |f| %>
	<% if  @team_update.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize( @team_update.errors.count, "error") %> prevented
				this team's information from being updated:</h2>
		<ul>
		<%  @team_update.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
	<% end %>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 field">
				<%= f.label :team_id %>
				<%= f.select :team_id, options_from_collection_for_select(Team.sortedCategories, "id", "scopedName",  @team_update.team != nil ?  @team_update.team.id : nil ) %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7">
				<%= f.label "Date" %>
				<div class="team-update-week-picker"></div>
			</div>

			<div class="col-md-5  align-self-center">
					<%= f.label :week %>:
					<%= f.text_field :week, value:  @team_update.week  %>
					<%= f.label :year %>:
					<%= f.text_field :year %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<%= f.label :summary %><br>
				<%= f.text_area :summary %>
			</div>
		</div>
	</div>

	<% if (local_assigns.has_key? :submit_btn) ? submit_btn : false %>
	<p>
		<%= f.submit %>
	</p>
	<% end %>

<% end %>

<script>
var simplemde = new SimpleMDE({forceSync: true});
</script>
