<table class="table table-striped table-condensed">
	<tr>
		<th class="col-md-1">Key</th>
		<th class="col-md-1">Team</th>
		<th class="col-md-3">Summary</th>
		<th class="col-md-1"># People</th>
		<th class="col-md-1">People</th>
		<th class="col-md-1">Product</th>
		<th class="col-md-1">Objective</th>
		<th class="col-md-1" style="text-align: center">Customer Facing</th>
		<th class="col-md-1">Week</th>
		<th class="col-md-1">Actions</th>
	</tr>

	<% @work_items.each do |work_item| %>
	<tr>
		<td><%= link_to work_item.item_key, work_item_path(work_item) %></td>
		<td><%= best_in_place work_item, :team_id, :as => :select, :collection => @team_list %></td>
		<td><%= work_item.summary %></td>
		<td><%= best_in_place work_item, :num_people, :class => "bip_people_field"%></td>
		<td><%= best_in_place work_item, :people, :as => :textarea, :ok_button => 'Save', :cancel_button => 'Cancel', :raw => "false" %></td>
		<td><%= best_in_place work_item, :product %></td>
		<td><%= best_in_place work_item, :objective%></td>
		<td style="text-align: center"><%= best_in_place work_item, :customer_facing, :as => :checkbox, :collection =>
			[raw("<div class='checkbox' style='display: inline-block;'><label><input type='checkbox'></label></div>"),
				raw("<div class='checkbox' style='display: inline-block;'><label><input type='checkbox' checked></label></div>")] %></td>
		<td><%= work_item.week %></td>
		<td><%= link_to 'Delete', work_item_path(work_item), data: {confirm: 'Are you sure?'}, method: :delete, remote: true, class: 'delete_post' %></td>
	</tr>
	<% end %>
</table>
